<footer class="bg-dark text-white pt-5 pb-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <h5 class="text-warning mb-3">
                    <i class="fas fa-mayan-calendar me-2"></i>IXIMI Legacy
                </h5>
                <p class="small">
                    Protegiendo el patrimonio cultural de México con tecnología blockchain. 
                    Certificación digital para textiles indígenas.
                </p>
                <div class="social-links">
                    <a href="#" class="text-white me-3"><i class="fab fa-facebook fa-lg"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-twitter fa-lg"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-instagram fa-lg"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-github fa-lg"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-linkedin fa-lg"></i></a>
                </div>
            </div>
            
            <div class="col-lg-2 col-md-6 mb-4">
                <h6 class="text-warning mb-3">Enlaces Rápidos</h6>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="/" class="text-white text-decoration-none">Inicio</a></li>
                    <li class="mb-2"><a href="/dashboard" class="text-white text-decoration-none">Dashboard</a></li>
                    <li class="mb-2"><a href="/comunidades" class="text-white text-decoration-none">Comunidades</a></li>
                    <li class="mb-2"><a href="/artesanos" class="text-white text-decoration-none">Artesanos</a></li>
                </ul>
            </div>
            
            <div class="col-lg-3 col-md-6 mb-4">
                <h6 class="text-warning mb-3">Comunidades</h6>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="/comunidades/mitla" class="text-white text-decoration-none">San Pablo Villa de Mitla</a></li>
                    <li class="mb-2"><a href="/comunidades/atzompa" class="text-white text-decoration-none">Santa María Atzompa</a></li>
                    <li class="mb-2"><a href="/comunidades/teotitlan" class="text-white text-decoration-none">Teotitlán del Valle</a></li>
                </ul>
            </div>
            
            <div class="col-lg-3 col-md-6 mb-4">
                <h6 class="text-warning mb-3">Contacto</h6>
                <ul class="list-unstyled">
                    <li class="mb-2"><i class="fas fa-envelope me-2"></i> legacyiximi@gmail.com</li>
                    <li class="mb-2"><i class="fas fa-phone me-2"></i> 951-743-92-04</li>
                    <li class="mb-2"><i class="fas fa-map-marker-alt me-2"></i> Oaxaca, México</li>
                </ul>
            </div>
        </div>
        
        <hr class="bg-secondary">
        
        <div class="row">
            <div class="col-md-6">
                <p class="small mb-0">
                    &copy; 2026 IXIMI Legacy. Tecnología que teje justicia para México.
                </p>
            </div>
            <div class="col-md-6 text-md-end">
                <p class="small mb-0">
                    Desarrollado con <i class="fas fa-heart text-danger"></i> por Estefanía Pérez
                </p>
            </div>
        </div>
    </div>
</footer>
